<h1>SKU overzicht HelloPrint</h1>
<div>
<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Zoek artikelen" %>
<%= submit_tag "Zoeken" %>
<% end %>

<% if @articles.present? %>
<% else %>
  <p>Er zijn geen artikelen gevonden met de zoekterm(en) <%= params[:search] %>.</p>
<% end %>
<br>
</div>
<table>
  <thead>
    <tr>
      <th>Naam</th>
      <th>Duplex</th>
      <th>Media</th>
      <th>Papiertype</th>
      <th>Inslag staand</th>
      <th>Inslag liggend</th>
      <th>Kleur</th>
      <th>Aantal drukvel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.name, article %></td>
        <td><%= article.duplex %></td>
        <td><%= article.media %></td>
        <td><%= article.papiertype %></td>
        <td><%= article.inslag_staand %></td>
        <td><%= article.inslag_liggend %></td>
        <td><%= article.kleur %></td>
        <td><%= article.aantal_drukvel %></td>
        <td class="button tiny"><%= link_to 'Weergeven', article, :class=>("whitetext") %></td>
        <td class="button tiny"><%= link_to 'Aanpassen', edit_article_path(article),:class=>("whitetext") %></td>
        <td class="button tiny"><%= link_to 'Verwijderen', article, :class=>("whitetext"), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav>
  <ul style="list-style: none;">
<li class="button small"><%= link_to 'Nieuw artikel', new_article_path, :class=>("whitetext") %> </li>
<li class="button small"><%=link_to "Download XML", articles_path(format: "xml"), :class=>("whitetext") %></li>
<li class="button small"><%= link_to "Download CSV", articles_path(format: "csv"), :class=>("whitetext") %></li>
<li>
  <h3>Importeer CSV file</h3>
   
    <%= form_tag import_articles_path, multipart: true do %>
    <%= file_field_tag :file %> 
    <%= submit_tag "Import CSV", :class=> 'whitetext' ' ' 'button tiny' %>
    <% end %>
</li>
</ul>


</nav>



          


