
<ul style="list-style: none;">
<li>
  <strong>Name:</strong>
  <%= @article.name %>
</li>

<li>
  <strong>Duplex:</strong>
  <%= @article.duplex %>
</li>

<li>
  <strong>Media:</strong>
  <%= @article.media %>
</li>

<li>
  <strong>Papiertype:</strong>
  <%= @article.papiertype %>
</li>

<li>
  <strong>Inslag staand:</strong>
  <%= @article.inslag_staand %>
</li>

<li>
  <strong>Inslag liggend:</strong>
  <%= @article.inslag_liggend %>
</li>

<li>
  <strong>Kleur:</strong>
  <%= @article.kleur %>
</li>

<li>
  <strong>Aantal drukvel:</strong>
  <%= @article.aantal_drukvel %>
</li>
</ul>

<%= link_to 'Aanpassen', edit_article_path(@article), :class=> 'whitetext' ' ' 'button tiny' %>
<%= link_to 'Terug', articles_path, :class=> 'whitetext' ' ' 'button tiny' %>
