<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Hello Print SKU lookup" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <header>
      <nav>
        <p>
          <%= link_to "Home", root_url, class: 'button'  %>
          <% if current_user %>
            <%= link_to current_user.name, current_user, class: 'button'  %>
            <%= link_to "Account Instellingen", edit_user_path(current_user), class: 'button'  %>
            <%= link_to 'Uitloggen', session_path, method: :delete, class: 'button' %>
          <% end %>
            <% if current_user && current_user.admin? %>
            <%= link_to "Gebruikers instellingen", users_path, class: 'button'  %>
          <% end %>
        </p>
      </nav>
      </header>
      <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, class: "alert-box #{name} radius" %>
        <% end %>
      <% end %>
      <div class="small-12 large-12 columns">
            <%= yield %>
      </div>
    </div>  
    

  </body>
</html>
